{% extends "layout/index.html" %}


{% block content %}
<section>
    <div class="min-h-[50vh] text-white bg-primary flex flex-col items-center justify-center">
      <div class="flex flex-col gap-2 items-center">
        <h4 class="uppercase font-bold text-2xl">
          Customy
        </h4>
        <p class="capitalize text-center">serve your customers in an agile way.</p>
      </div>
    </div>
    <div class="container flex flex-col items-center justify-center gap-4 py-20">
      <h4 class="text-center font-bold text-xl text-neutral mb-6">Features</h4>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <div class="card bg-primary text-white shadow-md p-6">
          <h4 class="font-semibold text-xl">Simple</h4>
          <p>
            and intuitive to use.
          </p>
        </div>
        <div class="card shadow-md p-6">
          <h4 class="font-semibold text-xl">Free</h4>
          <p>
            Forever.
          </p>
        </div>
        <div class="card bg-primary text-white shadow-md p-6">
          <h4 class="font-semibold text-xl">Open Source</h4>
          <p>
            fully modifiable.
          </p>
        </div>
        <div class="card shadow-md p-6">
          <h4 class="font-semibold text-xl">Multiple Users</h4>
          <p>
            and roles.
          </p>
        </div>
        <div class="card bg-primary text-white shadow-md p-6">
          <h4 class="font-semibold text-xl">Real time</h4>
          <p>
            data and monitoring.
          </p>
        </div>
        <div class="card shadow-md p-6">
          <h4 class="font-semibold text-xl">Ticket</h4>
          <p>
            Generator.
          </p>
        </div>
      </div>
      <div class="mt-12">
        <a href="/login" class="btn btn-primary">
          Try it!
        </a>
      </div>
    </div>
</section>

{% endblock %}