{% extends "layout/index.html" %}


{% block content %}
<section>
    <div class="container">

        <div class="overflow-x-auto">
            <table class="table border">
              <thead>
                <tr class="text-center">
                  <th class="w-1/3 text-xl">Ticket</th>
                  <th class="w-1/3 text-xl">Customer</th>
                  <th class="w-1/3 text-xl">cubicle</th>
                </tr>
              </thead>
              <tbody>
                <template x-for="i in [1, 2, 3, 4, 5]">
                    <tr class="text-center">
                        <td class="w-1/3">Cy Ganderton</td>
                        <td class="w-1/3">Quality Control Specialist</td>
                        <td class="w-1/3">Blue</td>
                    </tr>    
                </template>
              </tbody>
            </table>
          </div>
    </div>
</section>

{% endblock %}